@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/Inter-Italic.woff2") format("woff2"),
        url("../fonts/Inter-Italic.woff") format("woff");
}

@font-face {
    font-family: "..fonts/Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: "..fonts/Inter";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"),
        url("../fonts/Inter-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-named-instance: "Regular";
    src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}

@font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-named-instance: "Regular";
    font-named-instance: "Italic";
    src: url("../fonts/Inter-italic.var.woff2") format("woff2");
}

*:before,
*:after,
* {
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body {
    margin: 0;
}
