.logo {
    overflow: visible;
    width: auto;

    * {
        transition-property: width, transform;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
    }

    @extend %contracted;
}

.logo__tiny {
    height: 1rem;
    margin: 0.5rem 0;
}

.logo__small {
    height: 2rem;
    margin: 1rem 0;
}

.logo__large {
    height: 4rem;
    margin: 2rem 0;
}

.logo__huge {
    height: 8rem;
    margin: 4rem 0;
}

.logo__expanded {
    @extend %expanded;
}

%contracted {
    .mask {
        width: 24px;
        transition-delay: 0.3s;
    }

    .s3 {
        transform: none;
        transition-delay: 0s;
    }

    .w1 {
        transform: none;
        transition-delay: 0.05s;
    }

    .w2 {
        transform: none;
        transition-delay: 0.1s;
    }

    .w3 {
        transform: none;
        transition-delay: 0.15s;
    }

    .m1 {
        transform: none;
        transition-delay: 0.2s;
    }

    .m2 {
        transform: none;
        transition-delay: 0.25s;
    }

    .m3 {
        transform: none;
        transition-delay: 0.3s;
    }
}

%expanded {
    .mask {
        width: 56px;
        transition-delay: 0s;
    }

    .s3 {
        transform: translateX(5px);
        transition-delay: 0.3s;
    }

    .w1 {
        transform: translateX(13px);
        transition-delay: 0.25s;
    }

    .w2 {
        transform: translateX(13px);
        transition-delay: 0.2s;
    }

    .w3 {
        transform: translateX(18px);
        transition-delay: 0.15s;
    }

    .m1 {
        transform: translateX(27px);
        transition-delay: 0.1s;
    }

    .m2 {
        transform: translateX(32px);
        transition-delay: 0.05s;
    }

    .m3 {
        transform: translateX(32px);
        transition-delay: 0s;
    }
}
